.r {
  border-right: 4pt solid tan;
}
.b {
  border-bottom: 4pt solid tan;
}

.l {
  border-left: 4pt solid tan;
}

.t {
  border-top: 4pt solid tan;
}

.black {
  background: black;
  background-size:   cover;
  background-position: center center;
}

.white {
  background-color: white;
  background-size:   cover;
  background-position: center center;
}

.EMP {
  background: lightgray;
  background-size:   cover;
  background-position: center center;
}
.WFL {
  background: url(imgs/WFL.png);
  background-size:   cover;
  background-position: center center;
}
.TFL {
  -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  -webkit-filter: invert(1);
   filter: invert(1);
}
.invert {
  -webkit-filter: invert(1);
   filter: invert(1);
}
.WPR {
  background: url(imgs/WPR.png);
  background-size:   cover;
  background-position: center center;
}

.WSE {
  background: url(imgs/WSE.png);
  background-size:   cover;
  background-position: center center;
}

.WL2 {
  background: url(imgs/WL2.png);
  background-size:   cover;
  background-position: center center;
}

.WL1 {
  background: url(imgs/WL1.png);
  background-size:   cover;
  background-position: center center;
}

.WCA {
  background: url(imgs/WCA.png);
  background-size:   cover;
  background-position: center center;
}

.WMA {
  background: url(imgs/WMA.png);
  background-size:   cover;
  background-position: center center;
}

.WLC {
  background: url(imgs/WLC.png);
  background-size:   cover;
  background-position: center center;
}

.WCO {
  background: url(imgs/WCO.png);
  background-size:   cover;
  background-position: center center;
}

.WS1 {
  background: url(imgs/WS1.png);
  background-size:   cover;
  background-position: center center;
}

.WS2 {
  background: url(imgs/WS2.png);
  background-size:   cover;
  background-position: center center;
}

.WS3 {
  background: url(imgs/WS3.png);
  background-size:   cover;
  background-position: center center;
}

.WS4 {
  background: url(imgs/WS4.png);
  background-size:   cover;
  background-position: center center;
}

.WS5 {
  background: url(imgs/WS5.png);
  background-size:   cover;
  background-position: center center;
}

.WSP {
  background: url(imgs/WSP.png);
  background-size:   cover;
  background-position: center center;
}

.BFL {
  background: url(imgs/BFL.png);
  background-size:   cover;
  background-position: center center;
}

.BPR {
  background: url(imgs/BPR.png);
  background-size:   cover;
  background-position: center center;
}

.BSE {
  background: url(imgs/BSE.png);
  background-size:   cover;
  background-position: center center;
}

.BL2 {
  background: url(imgs/BL2.png);
  background-size:   cover;
  background-position: center center;
}

.BL1 {
  background: url(imgs/BL1.png);
  background-size:   cover;
  background-position: center center;
}

.BCA {
  background: url(imgs/BCA.png);
  background-size:   cover;
  background-position: center center;
}

.BMA {
  background: url(imgs/BMA.png);
  background-size:   cover;
  background-position: center center;
}

.BLC {
  background: url(imgs/BLC.png);
  background-size:   cover;
  background-position: center center;
}

.BCO {
  background: url(imgs/BCO.png);
  background-size:   cover;
  background-position: center center;
}

.BS1 {
  background: url(imgs/BS1.png);
  background-size:   cover;
  background-position: center center;
}

.BS2 {
  background: url(imgs/BS2.png);
  background-size:   cover;
  background-position: center center;
}

.BS3 {
  background: url(imgs/BS3.png);
  background-size:   cover;
  background-position: center center;
}

.BS4 {
  background: url(imgs/BS4.png);
  background-size:   cover;
  background-position: center center;
}

.BS5 {
  background: url(imgs/BS5.png);
  background-size:   cover;
  background-position: center center;
}

.BSP {
  background: url(imgs/BSP.png);
  background-size:   cover;
  background-position: center center;
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 0.5s linear;
	-moz-animation: slowlyAppear 0.5s linear;
	-ms-animation: slowlyAppear 0.5s linear;
	-o-animation: slowlyAppear 0.5s linear;
	animation: slowlyAppear 0.5s linear;
}
.rotateW {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotateB {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.flipImg {
  -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.noBorder {
  border: 0;
}
@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}
